:host(){
    --size-16:16px;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
}

.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/QuizAppBckgrd);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    max-width: 2000px;
    margin: auto;
    background: var(--dark-blue);
    color: var(--light-white);
    padding: var(--size-16);
    border-radius: 38px;
}